*{margin: 0; padding: 0; border: border-box;}

.container{
    width: 100%;
    height: 100vh;
    background: url(image/Red\ Background.jpg);
    background-size: cover;
    background-position: center;
}